#toggle-theme{
  all: inherit;
  outline: revert;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  top: 1px;
  right: 1px;
  padding: 5px;
  z-index: 1;
  transition: translate 200ms;
}

#toggle-theme:active{
  translate: 1px 1px;
}